.vscode
node_modules/
1first_project/node_modules
2second_project/node_modules
3third_project/node_modules
section_8/node_modules
section_9_app1/node_modules
section_9_app2/my-app/node_modules
section_9_app2/egitmen/node_modules
section_11_app1/node_modules
section_12_app1/node_modules
section_13_app1/node_modules
section_13_app2/node_modules
section_15_app1/node_modules
section_16_app1/node_modules
section_16_app2/node_modules
section_17_app1/node_modules
section_19_app1/node_modules
section_19_app2/node_modules
section_20_app1/node_modules
section_21_app1/node_modules
section_21_app2/node_modules
section_21_app2_backend/node_modules
section_22_app1/node_modules
section_22_app1_backend/node_modules
section_23_app1/node_modules
section_24_app1/node_modules
section_24_app1_backend/node_modules
section_25_app1/node_modules
section_25_app2/node_modules
section_25_app2/.next
section_27_app1/node_modules
example-project/node_modules
example-project/.env
example-project/.env.development
example-project/.env.local
example-project/.next/
section_23_app1/build/
section_25_app1/.next/
example-cms/node_modules
example-cms/.env
example-cms/.env.development
example-cms/.env.local
example-cms/.next/

